<div style="text-align: center;">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @video.video_id %>" frameborder="0" allowfullscreen></iframe>
</div>

<div style="height: 300px; overflow-y: auto; background: whitesmoke;">
<% @video.transcript.content.split("\n").each do |line| %>
  <% line.split(" ").each do |word| %>
    <% cleaned_word = clean_word(word) %>
    <% if Word.where("LOWER(english_word) = ?", cleaned_word.downcase).exists? %>
      <% word_record = Word.find_by("LOWER(english_word) = ?", cleaned_word.downcase) %>
      <div class="tooltip tooltip-warning" data-tip="<%= word_record.japanese_meaning %>">
        <span class="text-warning font-semibold"><%= word %></span>
      </div>
    <% else %>
      <span><%= word %></span>
    <% end %>
  <% end %>
  <br>
<% end %>
</div>