<div>
  <nav class="grid grid-flow-col gap-4">
    <%= link_to "Contact", "https://forms.gle/XjLRgApzDtcZ5bFEA", target: "_blank" %>
    <%= link_to "Privacy Policy", page_path('privacy_policy') %>
    <%= link_to "Terms Of Use", page_path('terms_of_use') %>
  </nav> 
  <aside>
    <p>Copyright © 2024 - SpeakUp</p>
  </aside>
</div>
