<div id="flash-message" class="hidden fixed top-0 left-0 w-full text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 p-4 lg:ml-64 md:ml-20">
  <i class="fa-solid fa-circle-info"></i>Score saved successfully!
</div>

<div class="justify-center text-center items-center mb-5 mt-5">
  <h1 class="text-3xl font-semibold text-[#001858]">Pronunciation Test</h1>
  <p class="text-sm text-[#172c66]">Read out loud the English sentence below.</p>
  <p class="text-sm text-[#172c66]">下記の英文を読み上げてください。</p>
</div>
<div class= "flex justify-center text-center text-neutral-600">
  <div id="react-root" class="md:w-9/12 min-[320px]:w-full min-height: 100vh;"></div>
  <div id="pronunciation-scores-path" data-path="<%= pronunciation_scores_path %>"></div>
</div>
<div class="flex justify-center items-center mt-3 space-x-3">
  <div class="bg-[#ffd803] rounded-3xl">
  <%= link_to rankings_path do %>
    <p class="text-[#172c66] font-semibold p-2 text-center flex items-center"><span class="text-xl">🏆</span> Top Rankings</p>
  <% end %>
  </div>
  <div class="bg-[#ffd803] rounded-3xl">
    <%= link_to pronunciation_scores_path do %>
      <p class="text-[#172c66] font-semibold p-2 text-center flex items-center">
        <span class="text-xl">📊</span> My Scores
      </p>
    <% end %>
  </div>
</div>
<div class="fixed right-5 md:bottom-8 min-[320px]:bottom-14">
  <button class="btn bg-[#ffd803]" onclick="how_to_test.showModal()">
    <i class="fa-solid fa-question fa-xl"></i>
  </button>
</div>
<dialog id="how_to_test" class="modal">
  <div class="modal-box">
    <h2 class="text-2xl font-semibold text-center text-[#001858]">How to use?</h2>
    <h2 class="text-lg font-bold text-center mb-5 text-[#001858]">使い方</h2>
    <div class="flex justify-center">
      <p class="text-sm text-[#172c66]">
        マイクボタンを押すとすぐに発音採点が始まるよ。音声入力後しばらくすると採点結果が表示されるよ!スピーカーボタンを押して問題文の発音を確認することも可能!Normal😇ボタンを押すと、Hard👿モードに切り替えられて難しい英文にチャレンジできるからやってみてね!スコアは自動的に保存されて、🏆Top Rankingsボタンからは週間平均点ランキング、📊My Scoresボタンからは過去の自分のスコアを英文ごとに振り返ることができるよ!Have fun!
      </p>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>