<div id="react-root"></div>
<!-- HTML内でパスを埋め込む -->
<div id="pronunciation-scores-path" data-path="<%= pronunciation_scores_path %>"></div>

<%= javascript_include_tag 'reactInitializer', defer: true %>