<div class="justify-center text-center items-center my-5">
  <h1 class="text-3xl font-semibold text-neutral-600">Pronunciation Test</h1>
    <p class="text-sm">Read out loud the English sentence below.</p>
  <p class="text-sm">下記の英文を読み上げてください。</p>
</div>
<div class= "flex justify-center text-center text-neutral-600">
  <div id="react-root" class="md:w-9/12 min-[320px]:w-full min-height: 100vh;"></div>
  <div id="pronunciation-scores-path" data-path="<%= pronunciation_scores_path %>"></div>
  <%= javascript_include_tag 'reactInitializer', defer: true %>
</div>