<div class="max-w-md mx-auto">   
  <%= search_form_for @q, url: url do |f| %>
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
      </div>
      <%= f.search_field :english_word_or_japanese_meaning_cont, id: "default-search", class: "block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-3xl bg-gray-50", placeholder: 'Search words (登録した単語)', required: true %>
      <%= f.submit 'Search', class: "text-[#001858] absolute end-2.5 bottom-2.5 bg-[#ffd803] hover:bg-[#bae8e8] focus:outline-none font-medium rounded-3xl text-sm px-4 py-2" %>
    </div>
  <% end %>
</div>
