<div class="flex items-center justify-center h-screen">
  <div class="bg-white py-6 rounded-md px-10 w-96 shadow-md space-y-5 text-gray-600 text-sm">
    <div class="space-y-5">
    <%= render "form" %>
    </div>
  </div>
</div>