<div class="flex justify-center">
  <h1 class="text-3xl font-semibold" >Hello, <%= current_user.username %>!</h1>
</div>
<!-- 検索フォーム -->
<%= render 'search_form', q: @q, url: words_path %>
<!-- 掲示板一覧 -->
<div class="grid md:grid-cols-3 lg:grid-cols-4 gap-4 justify-center m-10">
      <% if @words.present? %>
        <% @words.each do |word| %>
          <%= render 'word', word: word %>
        <% end %>
      <% else %>
        <div>
          登録された単語がありません。<br>
          There are no words.
        </div>
      <% end %>
</div>