<h1>Hello, <%= @user.username %>!</h1>
<p>It's time for you to study today!</p>
<p>今日も英語の学習を頑張りましょう！</p>

<p>連続学習記録：<%= @user.continuous_days %>日突破中！</p>

<p>さあ、今すぐアプリを開いて学習を始めよう！</p>
<a href="https://speakup-app.com/">アプリを開く</a>

<p>応援してるよ！</p>
<h3>SpeakUp</h3>
<p>学習リマインダーの停止は、ユーザー編集画面から可能です。</p>