Hello, <%= @user.username %>!
It's time for you to study today!
今日も英語の学習を頑張りましょう！

連続学習記録：<%= @user.continuous_days %>日突破中！

さあ、今すぐアプリを開いて学習を始めよう！  
<a href="https://speakup-app.com/">アプリを開く</a>

応援してるよ！
SpeakUp
学習リマインダーの停止は、ユーザー編集画面から可能です。